@import 'bootstrap';
@import 'calcite-bootstrap';



.jumbotron {
  background: url('/gallery/dc_skyline2.jpg') no-repeat;
  height: 600px;
  background-size: cover;
  
}


.footer {
	padding-top: 10px;
	position: relative;
	width: 100%;
	height: 64px;
}


.list-group {
	padding-left: 30px; 
	float: left;
}

.thumbnail {
	min-height: 200px;
	width: 100%;
}


#categories{
	max-width: 400px; 
	padding-top: 30px;
}


#content {
	max-width: 1280px; 
	margin: auto; 
	padding: 10px;
}

#row {
	float: left;
	padding-bottom: 50px;

}

.caption {
	padding-bottom: 30px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	max-height: 50px;

}


.list-group-item {
	font-weight: bold;
}


/* CSS used here will be applied after bootstrap.css */
/* CSS used here will be applied after bootstrap.css */

.thumbnail {
  position: relative;
}

.overlay {
    position: relative;
}

.overlay:before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before {
  display: block;
}

.gallery-hover:before {
  background-color: rgba(19, 111, 191, 0.6);
}

.gallery-hover a .glyphicon {
  position: absolute;
  top:60px;
  left:90px;
  color: #fff;
  font-size: 45px;
  line-height: 45px;
  text-decoration: none;
  display: none;
}

.gallery-hover:hover a .glyphicon {
 display: block;   
}


.leaflet-container{ 
height: 400px;
  
}